@import "../variables";

.contests {
    margin-bottom: 50px;
    tbody  {
        tr:nth-child(odd) {
            background-color: $main-content-hover;
        }
    }
}

@media screen and (max-width: 960px) {
  .contests {
     thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    table {
      tr,
      td {
        display: block;
      }
      td {
        &:before {
          content: attr(data-label);
          white-space: pre-wrap;
          display: block;
          font-weight: bold;
          color: $theme-primary;
        }
      }
    }
  }
}
