@import "../variables";

.name-container {
  h1 {
    display: inline-block;
    padding-right: 40px;
    margin-top: 50px;
  }
}

.customer-details {
  width: 80%;
  th {
    width: 250px;
    padding: 20px 15px 20px 0px;
  }
}

.accounts {
  margin-top: 50px;
  margin-bottom: 70px;
}

// MEDIA QUERIES
@media screen and (max-width: 960px) {
    .name-container {
        h1 {
            display: block;
        }
    }

  .customer-details {
    width: 100%;
  }

  .accounts {
     thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    tbody {
      tr {
        margin-bottom: 40px;
      }
    }
    table {
      tr,
      td {
        display: block;
      }
      td {
        &:before {
          content: attr(data-label);
          white-space: nowrap;
          display: block;
          font-weight: bold;
          color: $theme-primary;
        }
      }
    }
  }
}
