// Theme Variabls
$theme-primary: #398087;
$theme-secondary: #badfe7;

$grey: #f0f0f0;
$success: #82dd9b;
$error: #f58883;
$main-content-hover: #f0fcff;

// Font-Varaibles
$primary-text: #333;
$secondary-text: rgb(94, 94, 94);
$placeholder-text: #abadbb;